{% extends "layout.html" %}
{% block main %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}">

<body class="mt-40">
    {% include "navbar.html" %}

    <p>HELLO!</p>
    <script type="text/javascript">

        const menuBtn = document.querySelector(".menu-btn");
        const navigation = document.querySelector(".navigation");

        menuBtn.addEventListener("click", () => {
            menuBtn.classList.toggle("active")
            navigation.classList.toggle("active")
        });
    </script>
</body>

{% endblock %}